@import url("https://fonts.googleapis.com/css2?family=Kumbh%20Sans:wght@400;600;700&display=swap");
/* -------------------------------------
             Template Fonts
------------------------------------- */
/* -------------------------------------
            Template Colors
------------------------------------- */
.preloader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.loader-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  z-index: 88;
}

@keyframes l5 {
  0% {
    box-shadow: 20px 0 #5175FF, -20px 0 rgba(0, 0, 0, 0.1333333333);
    background: #5175FF;
  }
  33% {
    box-shadow: 20px 0 #5175FF, -20px 0 rgba(0, 0, 0, 0.1333333333);
    background: rgba(0, 0, 0, 0.1333333333);
  }
  66% {
    box-shadow: 20px 0 rgba(0, 0, 0, 0.1333333333), -20px 0 #5175FF;
    background: rgba(0, 0, 0, 0.1333333333);
  }
  100% {
    box-shadow: 20px 0 rgba(0, 0, 0, 0.1333333333), -20px 0 #5175FF;
    background: #5175FF;
  }
}
.container-hidden {
  opacity: 0 !important;
  visibility: hidden !important;
  display: none !important;
}

*,
*::after,
*::before,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body,
textarea,
input {
  font-size: 1.8rem;
  line-height: 1;
  font-family: "Kumbh sans", sans-serif;
}

body {
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  font-size: 3.4rem;
  line-height: 1.2;
  color: #333950;
  font-weight: 700;
  font-family: "Kumbh sans", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

p,
span {
  color: #747B95;
  font-size: 1.8rem;
  line-height: 1.6;
}

button,
.btn {
  position: relative;
  color: #ffffff;
  background-color: #5175FF;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Kumbh sans", sans-serif;
  border-radius: 10rem;
  border: none;
  padding: 20px 40px;
  cursor: pointer;
  outline: none;
  display: inline-flex;
  align-items: center;
  line-height: 1;
  overflow: hidden;
  z-index: 1;
  transition: all 0.6s ease-in;
  box-shadow: 0 14px 16px -4px rgba(0, 0, 0, 0.1);
}
button::before,
.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  opacity: 0.2;
  width: 0rem;
  height: 0rem;
  border-radius: 10rem;
  transition: all 0.6s ease-in;
}

button:hover,
.btn:hover {
  transform: scaleX(1.05);
}
button:hover::before,
.btn:hover::before {
  width: 100rem;
  height: 100rem;
  transition: all 0.6s ease-in;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.5rem;
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-l-none {
  display: none;
}

.d-m-none {
  display: none;
}

.f-column {
  flex-direction: column;
}

.flex-wrap {
  flex-flow: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.align-start {
  align-items: start;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.fix {
  overflow: hidden;
}

.fix-x {
  overflow-x: hidden;
}

.fix-y {
  overflow-y: hidden;
}

.clear {
  clear: both;
}

.m-l-auto {
  margin-left: auto;
}

.m-r-auto {
  margin-right: auto;
}

.m-inline {
  margin-inline: auto;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.col {
  width: 100%;
  padding: 0 1.5rem;
}

.col-2 {
  width: 16.66%;
  float: left;
  padding: 0 1.5rem;
}

.col-3 {
  width: 25%;
  float: left;
  padding: 0 1.5rem;
}

.col-4 {
  width: 33.33%;
  float: left;
  padding: 0 1.5rem;
}

.col-5 {
  width: 41.66%;
  float: left;
  padding: 0 1.5rem;
}

.col-6 {
  width: 50%;
  float: left;
  padding: 0 1.5rem;
}

.col-7 {
  width: 58.47%;
  float: left;
  padding: 0 1.5rem;
}

.col-8 {
  width: 66.66%;
  float: left;
  padding: 0 1.5rem;
}

.col-9 {
  width: 76.92%;
  float: left;
  padding: 0 1.5rem;
}

.col-10 {
  width: 83.33%;
  float: left;
  padding: 0 1.5rem;
}

.col-11 {
  width: 91.74%;
  float: left;
  padding: 0 1.5rem;
}

.col-12 {
  width: 100%;
  float: left;
  padding: 0 1.5rem;
}

/* -------------------------------------
    X-Large Screen 1920px & Above
------------------------------------- */
@media (min-width: 1360px) {
  .container {
    width: 1200px;
  }
}
/* -------------------------------------
        Large Screen 1440px
------------------------------------- */
/* -------------------------------------
        Medium Screen 1200px
------------------------------------- */
/* -------------------------------------
        Tablet Device 960px
------------------------------------- */
/* -------------------------------------
        Mobile Device 768px
------------------------------------- */
@media (max-width: 768px) {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    width: 100%;
  }
  .container {
    padding: 0 2rem;
  }
}
/* -------------------------------------
        Small Device 480px
------------------------------------- */
/* -------------------------------------
            Mixin Desktop
------------------------------------- */
/* -------------------------------------
        Large Screen 1440px
------------------------------------- */
/* -------------------------------------
            Mixin Tablet
------------------------------------- */
/* -------------------------------------
            Mixin Mobile
------------------------------------- */
/* -------------------------------------
            Header Desktop
------------------------------------- */
.header {
  position: relative;
  padding-bottom: 20rem;
}
.header .bg-pattern {
  position: absolute;
  top: -31rem;
  right: -22.6rem;
  z-index: -1;
  animation: rotate 180s infinite linear;
}
.header__logo {
  padding: 8rem 0;
}
.header__text-content h1 {
  font-size: 5.6rem;
}
.header__text-content p {
  margin: 2rem 0;
}
.header__img-content {
  text-align: right;
}

/* -------------------------------------
            Header Tablet
------------------------------------- */
@media (max-width: 960px) {
  .header .bg-pattern {
    top: -28rem;
    right: -37.6rem;
    z-index: -1;
    width: 100%;
  }
  .header__text-content h1 {
    font-size: 4rem;
  }
  .header__text-content p {
    font-size: 1.6rem;
  }
  .header__img-content img {
    width: 100%;
  }
}
/* -------------------------------------
            Header Mobile
------------------------------------- */
@media (max-width: 768px) {
  .header {
    padding-bottom: 10rem;
  }
  .header .bg-pattern {
    top: -22rem;
    right: -25%;
    transform: translateX(25%);
    width: 150%;
  }
  .header__logo {
    padding: 5rem 0;
    text-align: center;
  }
  .header .left {
    order: 2;
  }
  .header .right {
    order: 1;
  }
  .header__text-content {
    text-align: center;
  }
  .header__text-content h1 {
    font-size: 3.8rem;
  }
  .header__img-content {
    width: 70%;
    margin-inline: auto;
    margin-bottom: 4rem;
  }
}
/* -------------------------------------
            Plane Desktop
------------------------------------- */
.plane {
  margin-bottom: -25rem;
  position: relative;
  z-index: 3;
}
.plane__single {
  position: relative;
  border-radius: 16px;
  box-shadow: 0 14px 16px -4px rgba(0, 0, 0, 0.1);
  padding: 40px;
  text-align: center;
  background-color: #ffffff;
}
.plane__single--header {
  margin-bottom: 4rem;
}
.plane__single--header h4 {
  font-size: 2rem;
}
.plane__single--header h2 {
  font-size: 5.6rem;
  margin: 2rem 0 1rem 0;
}
.plane__single--body {
  margin-bottom: 4rem;
}
.plane__single--body li {
  font-size: 1.6rem;
  color: #747B95;
}
.plane__single--body li:not(:last-child) {
  margin-bottom: 3rem;
}
.plane__single .btn {
  background-color: rgba(81, 117, 255, 0.2509803922);
  color: #5175FF;
}
.plane__single.pro {
  position: relative;
  overflow: hidden;
  background-color: #5175FF;
}
.plane__single.pro .bg-pattern {
  position: absolute;
  top: -40.4rem;
  left: 50%;
  transform: translateX(-50%);
  -o-object-fit: cover;
     object-fit: cover;
}
.plane__single.pro h2, .plane__single.pro h4, .plane__single.pro li, .plane__single.pro p {
  color: #ffffff;
}
.plane__single.pro .btn {
  background-color: #ffffff;
  color: #5175FF;
}

/* -------------------------------------
            Plane Tablet
------------------------------------- */
@media (max-width: 960px) {
  .plane .col-4 {
    width: 100%;
  }
  .plane__single {
    margin-bottom: 3rem;
    text-align: left;
  }
  .plane__single--body {
    position: absolute;
    top: 50%;
    right: 4rem;
    transform: translateY(-50%);
  }
  .plane__single.pro .bg-pattern {
    left: -32rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
/* -------------------------------------
            Plane Mobile
------------------------------------- */
@media (max-width: 768px) {
  .plane__single {
    text-align: center;
  }
  .plane__single--body {
    position: initial;
    transform: none;
  }
  .plane__single.pro .bg-pattern {
    top: -40rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
/* -------------------------------------
            Commingsoon Desktop
------------------------------------- */
.commingsoon {
  background-color: #25293A;
  padding: 35rem 0 10rem 0;
  position: relative;
  z-index: 1;
}
.commingsoon .bg-pattern {
  position: absolute;
  top: -60rem;
  left: -46.6rem;
  z-index: -1;
  animation: rotate 180s infinite linear;
}
.commingsoon .date {
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 6px;
  margin-bottom: 2rem;
}
.commingsoon .date span {
  color: #5175FF;
}
.commingsoon .live-counting .counter {
  width: 10rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  background-color: #333950;
  text-align: center;
}
.commingsoon .live-counting .counter.ampm {
  width: 60px;
  height: 40px;
  border-radius: 4px;
  margin-top: auto;
}
.commingsoon .live-counting .counter:not(:last-child) {
  margin-right: 1.5rem;
}
.commingsoon .live-counting .counter h3 {
  font-size: 5.6rem;
  color: #ffffff;
}
.commingsoon .live-counting .counter p {
  font-weight: 600;
  color: #747B95;
}

/* -------------------------------------
            Commingsoon Tablet
------------------------------------- */
@media (max-width: 960px) {
  .commingsoon .bg-pattern {
    left: -60rem;
  }
  .commingsoon .col-8,
  .commingsoon .col-4 {
    width: 100%;
    text-align: center;
  }
  .live-counting {
    justify-content: center;
    margin-bottom: 3rem;
  }
}
/* -------------------------------------
            Commingsoon Mobile
------------------------------------- */
@media (max-width: 768px) {
  .commingsoon .bg-pattern {
    left: 50%;
    transform: translateX(-50%) !important;
  }
  .commingsoon .live-counting .counter {
    width: 8rem;
    height: 10rem;
  }
  .commingsoon .live-counting .counter:not(:last-child) {
    margin-right: 0.6rem;
  }
  .commingsoon .live-counting .counter h3 {
    font-size: 3.6rem;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
/* -------------------------------------
            SignUp Desktop
------------------------------------- */
.logo {
  padding: 8rem 0;
}

.signup {
  position: relative;
  padding-bottom: 30rem;
}
.signup .right {
  margin-right: -15rem;
}
@media (max-width: 1360px) {
  .signup .right {
    margin-right: 0;
  }
}
.signup .right::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50rem;
  height: 100%;
  background-color: #25293A;
  z-index: -1;
}
.signup .right .bg-pattern {
  position: absolute;
  top: -50%;
  left: 50%;
  width: 70%;
  animation: rotate 180s infinite linear;
  transform: translateX(-50%);
}
.signup h1 {
  font-size: 5.6rem;
}
.signup p {
  margin: 3rem 0;
}
.signup .commingsoon__timer .date {
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 6px;
  margin-bottom: 2rem;
  color: #333950;
}
.signup .commingsoon__timer .date span {
  color: #5175FF;
}
.signup .commingsoon__timer .live-counting .counter {
  width: 10rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  background-color: #333950;
  text-align: center;
  background-color: rgba(81, 117, 255, 0.1882352941);
}
.signup .commingsoon__timer .live-counting .counter.ampm {
  width: 60px;
  height: 40px;
  border-radius: 4px;
  margin-top: auto;
}
.signup .commingsoon__timer .live-counting .counter:not(:last-child) {
  margin-right: 1.5rem;
}
.signup .commingsoon__timer .live-counting .counter h3 {
  font-size: 5.6rem;
  color: #5175FF;
}
.signup .commingsoon__timer .live-counting .counter p {
  font-weight: 600;
  color: #747B95;
  margin: 0;
}
.signup form {
  border-radius: 1.6rem;
  box-shadow: 0 14px 16px -4px rgba(0, 0, 0, 0.1);
  padding: 2rem 4rem;
  background-color: #ffffff;
  position: relative;
  width: 45rem;
}
.signup form .input, .signup form option {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #cecece;
  color: #333950;
  padding: 2.5rem 2rem;
  font-size: 1.6rem;
  font-family: "Kumbh sans", sans-serif;
  font-weight: 600;
  color: #333950;
  background-color: #ffffff;
}
.signup form .input::-moz-placeholder, .signup form option::-moz-placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  color: #cecece;
}
.signup form .input::placeholder, .signup form option::placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  color: #cecece;
}
.signup form select {
  font-weight: 600;
}
.signup form select span {
  color: #747B95 !important;
}
.signup form .btn {
  width: 100%;
  display: block;
  margin-top: 4rem;
}

/* -------------------------------------
            SignUp Tablet
------------------------------------- */
@media (max-width: 960px) {
  .signup {
    padding-bottom: 0rem;
  }
  .signup h1 {
    font-size: 4rem;
  }
  .signup p {
    font-size: 1.6rem;
  }
  .signup .col-6 {
    width: 100%;
  }
  .signup .left {
    margin-bottom: 30rem;
    text-align: center;
  }
  .signup .right {
    position: revert;
  }
  .signup .right .bg-pattern {
    top: 65rem;
    left: 0;
    width: 100%;
  }
  .signup .right::before {
    width: 100%;
    height: 40rem;
    top: unset;
    left: 0;
  }
  .signup .right form {
    margin-inline: auto;
    margin-bottom: 12rem;
    margin-top: -21rem;
  }
}
/* -------------------------------------
            SignUp Mobile
------------------------------------- */
@media (max-width: 768px) {
  .logo {
    padding: 4rem 0;
  }
  .signup .right .bg-pattern {
    top: 75rem;
    left: -25%;
    width: 150%;
  }
  .signup h1 {
    font-size: 3.8rem;
  }
  .signup form {
    width: 100%;
    padding: 3rem;
  }
  .signup__text-content .commingsoon__timer .live-counting .counter {
    width: 8rem;
    height: 10rem;
  }
  .signup__text-content .commingsoon__timer .live-counting .counter:not(:last-child) {
    margin-right: 0.6rem;
  }
  .signup__text-content .commingsoon__timer .live-counting .counter h3 {
    font-size: 3.6rem;
  }
}
/* -------------------------------------
            Footer Desktop
------------------------------------- */
.footer {
  padding: 2rem 0;
}
.footer p {
  font-size: 1.6rem;
  font-weight: 600;
}
.footer p a {
  font-size: 1.6rem;
  color: #25293A;
}
.footer__socials {
  text-align: right;
  margin-top: -1rem;
}
.footer__socials li:not(:last-child) {
  margin-right: 2rem;
}
.footer__socials li a {
  color: #25293A;
}
.footer__socials li a i {
  font-size: 5rem;
}
.footer__socials li img {
  width: 2rem;
  margin-top: 1rem;
}

/* -------------------------------------
            Footer Tablet
------------------------------------- */
/* -------------------------------------
            Footer Mobile
------------------------------------- */
@media (max-width: 768px) {
  .footer__logo {
    width: 120px;
  }
  .footer__logo img {
    width: 100%;
  }
  .footer p {
    display: none;
  }
  .footer__socials li:not(:last-child) {
    margin-right: 1rem;
  }
}/*# sourceMappingURL=main.css.map */