@use "../utils/" as *;
@use "../global/" as *;

/* -------------------------------------
            Plane Desktop
------------------------------------- */
.plane {
  margin-bottom: -25rem;
  position: relative;
  z-index: 3;

  &__single {
    position: relative;
    border-radius: 16px;
    box-shadow: $box-shadow;
    padding: 40px;
    text-align: center;
    background-color: $color-light;

    &--header {
      margin-bottom: 4rem;
      h4 {
        font-size: 2rem;
      }

      h2 {
        font-size: 5.6rem;
        margin: 2rem 0 1rem 0;
      }
    }

    &--body {
        margin-bottom: 4rem;
      li {
        font-size: 1.6rem;
        color: $color-grey;
        
        &:not(:last-child){
          margin-bottom: 3rem;
        }
      }
    }

    .btn{
        background-color: #5175FF40;
        color: $color-primary;
    }

    &.pro{
        position: relative;
        overflow: hidden;
        background-color: $color-primary;

        .bg-pattern{
          position: absolute;
          top: -40.4rem;
          left: 50%;
          transform: translateX(-50%);
          object-fit: cover;
        }

        h2,h4,li,p{
            color: $color-light;
        }

        .btn{
            background-color: $color-light;
            color: $color-primary;
        }
    }
  }
}

/* -------------------------------------
            Plane Tablet
------------------------------------- */
@include tablet{
  .plane{
    .col-4{
      width: 100%;
    }
    &__single{
      margin-bottom: 3rem;
      text-align: left;
      &--body{
        position: absolute;
        top: 50%;
        right: 4rem;
        transform: translateY(-50%);
      }

      &.pro{
        .bg-pattern{
          left: -32rem;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

/* -------------------------------------
            Plane Mobile
------------------------------------- */
@include mobile{
  .plane{
    &__single{
      text-align: center;
      &--body{
        position: initial;
        transform: none;
      }

      &.pro{
        .bg-pattern{
          top: -40rem;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
