@use "global" as *;
@use "general" as *;

/* -------------------------------------
    X-Large Screen 1920px & Above
------------------------------------- */
@media (min-width:1360px) {
    .container{
        width: 1200px;
    }
}



/* -------------------------------------
        Large Screen 1440px
------------------------------------- */
@media (max-width:1360px){
}



/* -------------------------------------
        Medium Screen 1200px
------------------------------------- */
@media (max-width:1200px){
}



/* -------------------------------------
        Tablet Device 960px
------------------------------------- */
@media (max-width:960px){
    // section {
    //     margin-top: 80px;
    // }

    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
      width: 100%;
    }
}




/* -------------------------------------
        Mobile Device 768px
------------------------------------- */
@media (max-width:768px){
    .container {
        padding: 0 2rem;
    }

}





/* -------------------------------------
        Small Device 480px
------------------------------------- */
@media (max-width:480px){
}