
@use '../utils/' as *;
@use './global' as *;

/* -------------------------------------
            Mixin Desktop
------------------------------------- */
@mixin date{
      text-transform: uppercase;
      font-weight: $bold;
      color: $color-light;
      letter-spacing: 6px;
      margin-bottom: 2rem;
    }


    @mixin counter{
          width: 10rem;
        height: 12rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      border-radius: 0.8rem;
      background-color: $color-shade-blue-light;
      text-align: center;
        }




/* -------------------------------------
        Large Screen 1440px
------------------------------------- */
@mixin lg {
  @media (max-width: 1360px) {
    @content;
  }
}




/* -------------------------------------
            Mixin Tablet
------------------------------------- */
@mixin tablet {
  @media (max-width: 960px) {
    @content;
  }
}






/* -------------------------------------
            Mixin Mobile
------------------------------------- */
@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}
